# Required external API keys
GEMINI_API_KEY=
ROIC_API_KEY=

# RAG database credentials
POSTGRES_DB=earnings_rag
POSTGRES_USER=earnings_user
POSTGRES_PASSWORD=thisisapassword

# Used by containers, not by host Python
PG_CONN_STR=postgresql://earnings_user:change_me@rag_postgres:5432/earnings_rag

# App configuration
EMBED_MODEL_NAME=all-MiniLM-L6-v2
BATCH_SIZE=5
SLEEP_SECONDS_BETWEEN_CALLS=70

# Kestra metadata database credentials
KESTRA_POSTGRES_DB=kestra
KESTRA_POSTGRES_USER=kestra
KESTRA_POSTGRES_PASSWORD=thisisapassword

# Kestra UI login for local development only
KESTRA_USERNAME=admin@kestra.io
KESTRA_PASSWORD=thisisapassword